VITE_SUPABASE_URL=https://ugulqrvwimctpeudvkod.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVndWxxcnZ3aW1jdHBldWR2a29kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA5MDQwNTUsImV4cCI6MjEwNjQ4MDA1NX0.D2lJYP6kep0_bsEnO7dVoaVxZBIFkpZHlE_a_PpPMLo
